<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"/>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>Created by {{name}}</p>
        <img class="portrait" src="https://www.w3schools.com/images/w3schools_green.jpg">
        {{>footer}}
    </body>
</html>