<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"/>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        {{>footer}}
    </body>
</html>